/*основные контейнеры*/

body>.container {
    width: 1170px;
}

#navbar>.container {
    width: 1140px;
    padding: 0;
}


/*Рекламный банер*/

.ad {
    margin-bottom: 10px;
}


/*Логотип*/

.imageHolder img {
    height: 100px;
    width: 100px;
}


/*.imageHolder {
    padding: 0;
}*/


/*Блок с поиском*/

#navbar.navbar-default {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

#navbar {
    margin-bottom: 30px;
    margin-top: 10px;
}

#Form, #Form .navbar-form {
    padding-left: 10px;
    /*width: auto;*/
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#Form .input-group {
    width: 500px;
    display: inline-table;
    vertical-align: middle;
}

#Form .input-group input {
    width: 402px;
}

#Form .input-group .input-group-btn {
    width: 98px;
}

#Form .navbar-form .input-group>.form-control {
    display: inline-block;
}


/*Кнопки соцсетей*/

i.fa-telegram {
    font-size: 32px;
    color: #009fff;
}

i.fa-facebook-square {
    font-size: 32px;
    color: #6b6dbd;
}

.social {
    margin-top: 8px;
    margin-bottom: 8px;
}


/*Кнопки*/

#Registration .btn-default {
    text-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
}

#Registration .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: none;
    box-shadow: none;
}

#Form .btn-default {
    text-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #dbdbdb;
    border-color: #ccc;
}

#Form .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-left: none;
}

#Registration .btn:active {
    border: none;
    outline: none;
}

#Registration .btn:focus {
    border: none;
    outline: none;
    color: #081686;
}

#Registration .btn:hover {
    color: #1888ea;
}


/*Навигация*/

.navbarMain ul, .navbarMain a, .navbarMain div, .navbarMain li {
    margin: 0;
    padding: 0 !important;
    font-size: 12px;
}

.navbarMain .nav>li>a:focus, .navbarMain .nav>li>a:hover {
    background-color: transparent;
    color: #1888ea;
}

.navbarMain .nav>li>a[href="#"]:hover, .navbarMain .nav>li>a:focus {
    color: #cdcdcd;
}

.navbarMain a {
    color: black;
}

.navbarMain ul, .navbarMain a[href="#"], .navbarMain div, .navbarMain li {
    color: #cdcdcd;
    cursor: default;
}

.navbarMain .nav>li>a[href="#"]:hover {
    background-color: transparent;
}

.nav .divider {
    margin: 2em 0 0 0;
}

.nav .margin-bottom-08 {
    margin-bottom: 0.8em;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #cdcdcd;
    width: 100%;
}

li.knoledgeBase {
    text-align: right;
    color: #fd8301;
}


/*Блоки*/


/*Размер основных блоков*/


/*div.contentWrapper {
    width: 80%;
}*/

.contentWrapper .col-xs-4, .contentWrapper .col-xs-3 {
    padding-left: 0;
    padding-right: 5px;
}

div.sideWrapper {
    width: 19.9%;
}

.firstBlock .col-xs-8, .col-sm-6, .col-xs-3, .col-sm-2, .thumbnail {
    border: none;
    box-shadow: none;
}

.block {
    margin-bottom: 9px;
}

.firstBlock small {
    color: gray;
}

.firstBlock h4 {
    margin: 0;
}

h4.bold {
    font-weight: 800;
}

div.thumbnail>h4 {
    margin-top: 10px;
}

.secondBlock .small {
    height: 253px;
}

.thirdBlock .small {
    height: 253px;
}


/*БЛИЖАЙШИ ПРОГРАММЫ*/

.link {
    /*text-align: right;*/
    color: #89b3f5;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1em;
    font-weight: bold;
}

.link i {
    font-weight: bold;
}


/*категории*/

.cat {
    font-size: 13px;
    margin-bottom: 10px;
}

.cat a {
    color: #081686;
    cursor: default;
}

.arrow {
    font-size: 10px;
    font-weight: normal;
}

.cat a {
    text-decoration: none;
}

.left {
    padding-left: 4px;
}

.stat button {
    background: none;
    border: none;
    padding: 0;
    color: #081686 !important;
    cursor: default;
    text-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
}

.stat button:hover {
    color: #081686 !important;
    background: none;
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.stat button:active {
    color: #081686 !important;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.stat button:active:hover {
    color: #081686 !important;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.stat button:focus {
    color: #081686 !important;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.right {
    padding-right: 6px;
}


/*Закругленные края*/

.row img {
    border-radius: 5px;
}

.media img {
    border-radius: 50%;
}

iframe {
    border-radius: 5px;
}


/*Кнопка показать еще*/

.more {
    width: 100%;
    border-radius: 0;
    margin-top: 100px;
}


/*Сепаратор*/

.separator {
    margin: 60px 0 20px;
}

.separator .divider {
    background-color: #ffe308;
}


/*Текст внизу*/

strong {
    color: red;
    font-weight: 800;
}

.gray {
    color: gray;
}

.preFooter {
    height: 200px;
    margin-top: 30px;
}


/*Футер*/

footer {
    background-color: rgb(37, 40, 49);
    /*border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;*/
}

footer a {
    color: white;
}

.call {
    color: white;
}

.location {
    color: rgb(255, 253, 163);
    font-size: 10px;
}

.location p {
    margin: 0;
}

.call p {
    font-size: 14px;
    margin: 0;
}

.call p:first-child {
    margin-left: 8px;
}


/*Кнопка*/

footer .btn-primary {
    margin-top: 10px;
    border-radius: 0;
    background-color: rgb(86, 79, 193);
    background-image: none;
}

footer .btn-primary:focus {
    background-color: rgb(86, 79, 193);
    background-image: none;
}

footer .btn-primary:active {
    background-color: rgb(113, 103, 174);
    background-image: none;
}

footer .btn-primary:active:focus {
    outline: 3px solid rgb(87, 163, 88);
    background-color: rgb(113, 103, 174);
    background-image: none;
}

footer .btn-primary:hover {
    background-color: rgb(86, 77, 142);
    background-image: none;
}


/*Подписи под видео*/

.block h4 {
    font-size: 14px;
    font-weight: normal;
    ;
    white-space: pre-line;
    margin: 0;
}

.block span {
    font-size: 10px;
    color: #cdcdcd;
}

span.text-muted {
    font-size: 12px;
}

.atribute {
    margin-top: 10px;
    margin-bottom: 0;
}


/*Разделитель*/

.text {
    text-align: center;
    color: #cdcdcd;
}

.space {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.divide .divider {
    margin-top: 9px;
}

.space .col-xs-5 {
    padding: 0;
    width: 45.7%;
}

.space .col-xs-5:first-child {
    padding-left: 3px;
}

.space .col-xs-2 {
    padding: 0;
    width: 7.966667%;
}

.space .padding-right-45 {
    padding-right: 45px;
}

.space .padding-left-45 {
    padding-left: 45px;
}


/*Навигация в футере*/

.navigation, .navigation .col-xs-12:first-child {
    padding-left: 97px;
    margin-top: 15px;
}

.navigation .col-xs-12:nth-child(2) {
    padding-left: 108px;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer .nav-pills>li+li {
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
}

footer .nav-pills>li+li {
    margin-left: 0;
}

.video .divider {
    height: 3px;
    margin-bottom: 20px;
}

.like, .share {
    padding: 5px;
}

.like>a:hover, .share>a:hover {
    color: #1888ea;
    text-decoration: none;
}

.commentsHeader p {
    margin-bottom: 20px;
}

.comBaner {
    margin-bottom: 20px;
}

.comBaner img {
    height: 200px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-left-20 {
    padding-left: 20px;
}

.comment {
    margin: 10px auto;
}

.comFooter {
    margin: 0;
    line-height: 18px;
}

.comFooter>span {
    color: #cdcdcd;
}

.comFooter button {
    padding: 0 0 0 4px;
    background-color: transparent;
    background-image: none;
    border: none;
    font-size: 12px;
    color: #cdcdcd;
}

.comFooter button:hover {
    background-color: transparent;
    color: #1888ea;
}

.comFooter button:active {
    background-color: transparent;
    box-shadow: none;
    color: #cdcdcd;
}

.comFooter button:active:focus {
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: none;
    color: #1888ea;
}

.comFooter button:focus {
    border: none;
    box-shadow: none;
    background-color: transparent;
    outline: none;
    color: #cdcdcd;
}

span.dot {
    font-size: 4px;
    padding-left: 3px;
    color: #cdcdcd;
    vertical-align: middle;
}

.breadcrumb {
    padding: 0px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}


/*Video Title*/

.thumbnail .videoHeader {
    padding-top: 0;
}

.video .crumb div {
    padding: 0;
    margin-bottom: 10px;
}

.crumb .col-xs-3 {
    width: 30.1%;
}

.crumb .col-xs-9 {
    width: 69%;
}

.mainVideo .thumbnail {
    padding-top: 0;
}

.breadcrumb a {
    color: black;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #1888ea;
}

.breadcrumb a:focus {
    text-decoration: none;
    color: #1888ea;
    outline: none;
}

.sideBtns {}

.sideBtnWrapper {
    padding-right: 0px;
    padding-left: 3px;
    padding-top: 30px;
    color: #cdcdcd;
}

.sideBtnWrapper .col-xs-12 {
    padding-right: 0px;
    padding-left: 11px;
}

.sideVideo {
    padding-right: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.sideAtribute {
    line-height: 10px;
}

.videoTitle {
    font-size: 26px;
}

.wcomments_head {
    display: none;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #cdcdcd;
    white-space: nowrap;
    cursor: pointer;
    padding-right: 5px;
    text-align: right;
}

.dropdown-menu>li>span:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    color: black;
}

.dropdown-menu>li>a {
    color: #cdcdcd;
}
